.profile-page {
  display: flex;
  align-items: center;
  
  padding: 1rem ;
}
.profile-container {
  width: 80%;
  
  
}
.profile-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 8px 10px rgba(6, 4, 4, 0.1);
  padding: 10px;
  margin:3rem 25rem;
  display: flex;
  width: 25rem;
 
}
.user-image{
  width: 100px;
  height: 100px;
  margin: 10px;
}
.user-details {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.options{
  display: flex;

}
.options p {
  margin: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(238, 88, 34);
  color: white;
}
.options p:hover{
  background-color: rgb(199, 61, 11);
}
.post-actions button {
  margin: 5px;
  padding: 6px ;
  color: #fff;
  cursor: pointer;
  background-color: rgb(238, 88, 34);
  border: none;
  border-radius: 2px;
}
.post-tile{
  display: flex;
}
.post-actions{
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .profile-card{
    margin: 1rem;
    width: 20rem;
  }

  

}
