.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(235, 130, 64);
    padding: 20px 40px;

}

.navbar a{
    color: black;
}
.nav-item {
    text-decoration: none;
    padding: 5px;
    font-size: large;
}
  
.nav-item:hover {
    text-decoration: underline;
}