.form-container{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-input{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}
textarea{
    height: 150px;
}

.submit-btn{
    background-color: rgb(242, 116, 38);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    
}
.submit-btn:hover{
    background-color:  rgb(233, 85, 26);
}
